@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Index Page Styling*/

/*Header Style*/
body{
    background-color: #282828;
    overflow-x: hidden;
}
nav{
    background-color: #2c2e30;
    display: flex;
    text-align: right;
    align-items: center;
    height: 60px;
    padding: 0 80px;
}
nav .logo{
    cursor: pointer;
}
nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 60px;
    margin: 0 0 0 300px;
}
nav .nav-items a{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
}
nav .nav-items a i{
    color: #368338e1;
    margin: 0 5px 0 0;
}
nav form{
    display: flex;
    height: 40px;
    padding: 2px;
    background-color: #1e232b;
    min-width: 18% !important;
    border-radius: 30px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}
nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background-color: #368338e1;
    border: none;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    cursor: pointer;
}
nav form button:hover{
    background-color: #2b682de1;
}

/*Body Style*/
.content{
    margin-top: 30px;
    text-align: center;
    color: white;
}
.content h1{
    justify-content: space-between;
    letter-spacing: 5px;
    font-family: 'EB Garamond', serif;
}
.content p{
    margin-top: 20px;
}
.movie-items{
    width: 100%;
    height: 10%;
    margin-top: 30px;
    margin-left: 1%;
    padding: 20px;
}
.column{
    float: left;
    width: 16.66%;
    cursor: pointer;
    margin-bottom: 20px;
}
.column img{
    width: 150px;
    height: 210px;
    border-radius: 20px;
}
.column h4,p{
    color: white;
}
.column:hover{
    scale: 1.1;
}

/*Movie Page Styling*/
.movie-item{
    color: white;
}
.movie-item p img{
    float: left;
    margin: 0 60px 40px 40px;
    border-radius: 20px;
}
.title{
    text-align: left;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
.year{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
}
.genre{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
}
.cast span{
    font-weight: bold;
    color: white;
}
.cast{
    text-align: left;
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
.director span{
    font-weight: bold;
    color: white;
}
.director{
    text-align: left;
    font-size: 15px;
    color: gray;
    margin-top: 10px;
}
.buttons{
    margin-top: 30px;
}
.buttons .button1{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
}
.buttons .button1:hover{
    background-color: rgb(153, 255, 0) ;
    border: none ;
    color: black;
}
.buttons .button2:hover{
    border: black;
    background-color: black ;
    color: white;
}
.buttons .button2{
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid rgb(153, 255, 0);
    border-radius: 10px;
    background-color: rgb(153, 255, 0);
    margin-left: 20px;
}
.video{
    margin: 40px;
    margin-bottom: 0px;
    padding: 40px;
    padding-bottom: 0px;
}
.servers{
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
}
.servers .button1{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid rgb(153, 255, 0);
    background-color: rgb(153, 255, 0);
    cursor: pointer;
}
.servers .button2{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid rgb(153, 255, 0);
    background-color: transparent;
}
.servers .button3{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid rgb(153, 255, 0);
    background-color: transparent;
}
.servers .button2:hover{
    background-color: rgb(153, 255, 0);
    cursor: pointer;
}
.servers .button3:hover{
    background-color: rgb(153, 255, 0);
    cursor: pointer;
}
.syn{
    margin-top: 40px;
    margin-left: 70px;
}
.syn span{
    color: rgb(153, 255, 0);
    font-weight: bold;
}

/*Footer Style*/
.footer{
    background-color: #2c2e30;
    height: 60px;
    margin-top: 40px;
}
.footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.footer .left{
    float: left;
    margin-left: 40px;
    padding: 20px;
}
.footer .right{
    float: right;
    margin-right: 40px;
    padding: 20px;
}